.productInfo {
    float: left;
    margin-right: 2%;
    width: 80%;
}

.price {
    float: right;
    margin-right: 0;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

body{
    background-color: #3f474d;
    color: white;
}

input {
    color: #000;
}

.panel {
    background-color: #246959;
    min-height: 20em;
    border-color: #000;
    border: 2px solid;
    padding-right: 2em;
}

img { max-height: 83px;
    max-width: 200px;
}

.logo{
    max-width: none;
}

h1{
    margin-left: 38%;
}

h2 {
        padding-left: 35%;
}

#UPC{
    margin-right: 10px;
}

.removeBtn {
    float: left;
}


label{
     margin-right: 10px;
}